.intro {
  min-height: 100vh;
}

.intro__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.intro__title {
  font-size: 4rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 3px;

  @media (max-width: 991px) {
    font-size: 3rem;
  }
}

.intro__subtitle {
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 700;

  @media (max-width: 991px) {
    font-size: 2rem;
  }
}