.timer {
  display: flex;
  align-items: center;
  column-gap: 2em;
  margin: 40px;
}

.timer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:not(:last-child) {
    &::after {
      content: ':';
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);

      color: #000;
      font-size: 7rem;
      font-weight: 700;
    }
  }
}

.timer-split {
  .timer-number {
    min-width: 170px;
    padding: .27em .23em;

    font-size: 8rem;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    border-radius: .16em;
    font-weight: 700;
  }
}

.timer-item:not(.timer-split .timer-item) {
  min-width: 280px;
  padding: .31em;

  font-size: 8rem;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  border-radius: .16em;
  font-weight: 700;
  letter-spacing: 8px;
}